.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* display: none; */
  display: flex;
  visibility: hidden;
  transition: visibility 0s, 0.6s, opacity 0.6s;

}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
}

.modal_opened {
  /* display: flex; */
  visibility: visible;
  transition-duration: 0.3s;
}

.modal__container {
  position: relative;
  color: #000;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
}

.modal__container-preview {
  position: relative;
  margin: 90px auto;
}

.modal__preview-image-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.5px;
  margin: 10px 0 0 0;
}
.modal__preview-image {
  max-height: 540px;
  max-width: 816px;
}
.modal__close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form_input,
.modal__form_input_type_title,
.modal__form_input_type_url {
  margin-bottom: 30px;
  width: 358px;
  height: 27.26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.modal__form_input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  color: #000;
}

.modal__button_save,
.modal__button_create {
  margin-top: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__button_create:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 18px);
    left: calc(100% + -30px);
  }

  #preview-image-modal-close-button {
    height: 30px;
    width: 30px;
    bottom: calc(100% + 3px);
    left: calc(100% + 3px);
}

.modal__container-preview {
  position: relative;
  margin: 305px 40px 0px;
}

.modal__container-preview {
  max-height: 75vh;
  max-width: 75vw;
}

.modal__preview-image {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 580px) {
  .modal {
    top: -163px;
  }

  .modal__container {
    padding: 22px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 21.78px;
    margin-top: 25px;
    margin-bottom: 75px;
  }

  .modal__form_input,
  .modal__form_input_type_title,
  .modal__form_input_type_url {
    width: 238px;
  }

  .modal__button_save,
  .modal__button_create {
    font-size: 14px;
    line-height: 17px;
  }

  .modal__button_save,
  .modal__button_create {
    width: 238px;
  }
}
